<%= form_for(@poa) do |f| %>
  <% if @poa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poa.errors.count, "error") %> prohibited this poa from being saved:</h2>

      <ul>
      <% @poa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gname %><br />
    <%= f.text_field :gname %>
  </div>
  <div class="field">
    <%= f.label :gaddress1 %><br />
    <%= f.text_field :gaddress1 %>
  </div>
  <div class="field">
    <%= f.label :gaddress2 %><br />
    <%= f.text_field :gaddress2 %>
  </div>
  <div class="field">
    <%= f.label :gpostcode %><br />
    <%= f.text_field :gpostcode %>
  </div>
  <div class="field">
    <%= f.label :a1name %><br />
    <%= f.text_field :a1name %>
  </div>
  <div class="field">
    <%= f.label :a1address1 %><br />
    <%= f.text_field :a1address1 %>
  </div>
  <div class="field">
    <%= f.label :a1address2 %><br />
    <%= f.text_field :a1address2 %>
  </div>
  <div class="field">
    <%= f.label :a1postcode %><br />
    <%= f.text_field :a1postcode %>
  </div>
  <div class="field">
    <%= f.label :a1dob %><br />
    <%= f.date_select :a1dob %>
  </div>
  <div class="field">
    <%= f.label :a2name %><br />
    <%= f.text_field :a2name %>
  </div>
  <div class="field">
    <%= f.label :a2address1 %><br />
    <%= f.text_field :a2address1 %>
  </div>
  <div class="field">
    <%= f.label :a2address2 %><br />
    <%= f.text_field :a2address2 %>
  </div>
  <div class="field">
    <%= f.label :a2postcode %><br />
    <%= f.text_field :a2postcode %>
  </div>
  <div class="field">
    <%= f.label :a2dob %><br />
    <%= f.date_select :a2dob %>
  </div>
  <div class="field">
    <%= f.label :advanced_directive %><br />
    <%= f.check_box :advanced_directive %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
