<h1>Listing poas</h1>

<table>
  <tr>
    <th>Granter</th>
    <th>Attorney 1</th>
    <th>Attorney 2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poas.each do |poa| %>
  <tr>
    <td><%= poa.gname %></td>
    <td><%= poa.a1name %></td>
    <td><%= poa.a2name %></td>
    <td><%= link_to 'Show', poa %></td>
    <td><%= link_to 'Edit', edit_poa_path(poa) %></td>
	<td><%= link_to "PDF", poa_path(poa, :format => :pdf) %></td>
    <td><%= link_to 'Destroy', poa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poa', new_poa_path %>
