<p id="notice"><%= notice %></p>

<p>
  <b>Gname:</b>
  <%= @poa.gname %>
</p>

<p>
  <b>Gaddress1:</b>
  <%= @poa.gaddress1 %>
</p>

<p>
  <b>Gaddress2:</b>
  <%= @poa.gaddress2 %>
</p>

<p>
  <b>Gpostcode:</b>
  <%= @poa.gpostcode %>
</p>

<p>
  <b>A1name:</b>
  <%= @poa.a1name %>
</p>

<p>
  <b>A1address1:</b>
  <%= @poa.a1address1 %>
</p>

<p>
  <b>A1address2:</b>
  <%= @poa.a1address2 %>
</p>

<p>
  <b>A1postcode:</b>
  <%= @poa.a1postcode %>
</p>

<p>
  <b>A1dob:</b>
  <%= @poa.a1dob %>
</p>

<p>
  <b>A2name:</b>
  <%= @poa.a2name %>
</p>

<p>
  <b>A2address1:</b>
  <%= @poa.a2address1 %>
</p>

<p>
  <b>A2address2:</b>
  <%= @poa.a2address2 %>
</p>

<p>
  <b>A2postcode:</b>
  <%= @poa.a2postcode %>
</p>

<p>
  <b>A2dob:</b>
  <%= @poa.a2dob %>
</p>

<p>
  <b>Advanced directive:</b>
  <%= @poa.advanced_directive %>
</p>


<%= link_to 'Edit', edit_poa_path(@poa) %> |
<%= link_to 'Back', poas_path %>
